@url('https://fonts.googleapis.com/css?family=Russo+One');
:root{
  --darkAccent: #224b4b;--lightAccent: #2cda9d;
  --backgroundBase: #619e9e;
}
*{
  box-sizing: border-box
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    background-color: var(--backgroundBase);
}